<%= form_for @equipment, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location_id %>
    <div class="controls">
      <%= collection_select(:equipment, :location_id, Location.all, :id, :name, :prompt => "Select Location") %>       
    </div>
  </div>
  <div class="control-group">
    <%= f.label :purchase_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :purchase_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :placement_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :placement_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :warranty_end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :warranty_end_date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :location_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                equipment_path, :class => 'btn' %>
  </div>
<% end %>
